<h1 class="title">Legends of the road</h1>
<p>JDM cars have earned their legendary status through a perfect blend of reliability, performance, and iconic design. These vehicles weren’t just built to meet the needs of the domestic market in Japan; they’ve captivated enthusiasts worldwide with their ability to dominate on the streets and the track.</p>


<div class="about_images">
    <div class="image">
        <img [ngSrc]="firstImage" fill alt="gtr back image">
    </div>

    <div class="legends">
        <h2>legends</h2> 
    </div>
    <div class="image">
        <img [ngSrc]="secondImage" fill alt="supra back image">
    </div>
</div>