:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;

    p {
        text-align: center;
        width: 70%;
    }

    .about_images {
        display: grid;
        grid-template-columns: repeat(3, .4fr);
        place-content: center;
        gap: 1rem;

        .legends {
            border: 1px solid var(--Gray);
            height: 600px;
            width: 15vw;
            display: grid;
            place-content: center;


            h2 {
                text-transform: uppercase;
                font-size: 5vw;
                color: var(--White);
                rotate: -90deg;
            }
        }

        .image {
            height: 600px;
            width: 20vw;

            position: relative;

            img {
                object-fit: cover;
            }

        }
    }
}


@media (max-width:720px) {
    :host {
        .about_images {
            .image {
                width: 30vw;
            }
        }
    }
}

@media (max-width:525px) {
    :host {

        h1 {
            text-align: center;
        }

        .about_images {
            grid-template-columns: 1fr;

            .legends {
                width: 100%;
            }

            .image {
                width: 90vw;
            }
        }

    }
}