:host{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 2%;
    gap: 1rem;
    border-top: 1px solid var(--Dark-gray);

    margin-top: 3rem;

    h1{
        text-transform: capitalize;
        font-weight: 100;
    }
    p{
        font-size: 15px;
        color: var(--Dark-gray);
    }
}

@media (max-width:500px) {
    :host{
        h1{
            font-size: 6vw;
        }
    }
}