<h1>drive by passion</h1>

<div class="community_content">
    <p>JDM isn’t just about cars; it’s a lifestyle, a community, and a shared admiration for precision and performance.
        Enthusiasts from around the globe come together to celebrate the artistry and innovation behind these machines,
        pushing boundaries on and off the track.
        From weekend meets in parking lots to roaring engines at car shows, the JDM culture connects people who live for
        the thrill of driving. It’s a testament to the bond between man and machine, fueled by passion and a desire for
        perfection.</p>

    <div class="community_image">
        <img [ngSrc]="image" fill  priority alt="">
    </div>

</div>