:host {
    height: 100vh;
    width: 100%;
    display: block;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6rem 0;
    }

    .community_content {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        position: relative;

        p {
            width: 40%;
            position: absolute;
            top: 50%;
            left: 55%;
            transform: translate(-50%, -50%);
            font-size: 13px;

        }

        .community_images {

            .community_image {
                position: absolute;

                img {
                    object-fit: cover;
                }

                &:nth-child(1) {
                    height: 500px;
                    width: 30vw;
                    left: 2%;
                    top: 0%;

                    video{
                        height: 100%;
                        width: 100%;
                    }
                }


                &:nth-child(2) {
                    height: 300px;
                    width: 200px;
                    top: -20%;
                    right: 5%;
                }


                &:nth-child(3) {
                    height: 200px;
                    width: 150px;
                    bottom: 0%;
                    right: 5%;
                }
            }
        }


    }
}



@media (max-width:768px) {
    :host {
        .community_content {
                
            p {
                width: 70%;
            }

            .community_images {
                .community_image {
                    &:nth-child(1) {

                        height: 300px;
                        top: 68%;
                    }

                    &:nth-child(2) {
                        top: -10%;

                    }
                }
            }

        }
    }
}

@media (max-width:425px) {
    :host{
        .community_content{
            p{
                width: 90%;
            }
            .community_images{
                .community_image{
                    &:nth-child(1) {
                     display: none;
                    }

                    &:nth-child(2) {
                        top: -10%;
                        height: 250px;
                        width: 90%;
                    }
                    &:nth-child(3) {
                     bottom: 0%;
                        height: 150px;
                        width: 90%;
                    }
                }
            }
        }
    }
}