:host {
    display: block;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;

    video{
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100vh;
        width: 100vw;
        rotate: -90deg;
        scale: 2.5;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        text-align: center;

        h1{
            font-size: 200px;
        }

        span {
            font-size: 20px;
            font-weight: 200;
            letter-spacing: 10px;
            color: var(--Gray);
        }



    }

}

@media (max-width:525px) {
    :host{
        .content{
            h1{
                font-size: 43vw;
            }
        }
    }
}