<div class="history_title_container">
    <h1>The evolution of excellence</h1>
    <h3>The story of JDM is a journey through decades of innovation, passion, and precision. From humble beginnings in
        Japan’s domestic market to global recognition, JDM cars have evolved into symbols of automotive excellence. Each
        era
        introduced groundbreaking models and technologies, leaving a lasting impact on car culture worldwide.</h3>
</div>
<div class="evolutions">
    <div class="car_image">
        <img ngSrc="https://cdn.cosmos.so/754408e9-ce72-46c9-b048-c5007f8aba51?format=jpeg" fill priority
            alt="Early days car image">
    </div>
    <div class="car_image">
        <video autoplay loop muted playsinline>
            <source [src]="supraVideo" type="video/mp4">
        </video>
    </div>
    <div class="car_image">
        <img ngSrc="https://i.pinimg.com/736x/a8/98/24/a898246129da6194d137fd22b97e7f35.jpg" fill priority
            alt="The Millennium Shift car image">
    </div>
    <div class="car_image">
            <video autoplay loop muted playsinline>
                <source [src]="videoR35" type="video/mp4">
            </video>
    </div>
    <div class="age_description">
        <h1>The Early Days (1950s-1970s)</h1>

        <p> The foundation of JDM was laid with sleek, reliable cars designed for the Japanese market. During this
            period, manufacturers focused on blending practicality with style, introducing sports cars like the 2000GT
            that showcased Japan’s engineering capabilities on the world stage./p>
    </div>
    <div class="age_description">
        <h1>The Golden Era (1980s-1990s) </h1>

        <p>This era is often considered the pinnacle of JDM, with manufacturers introducing high-performance vehicles
            powered by engines like the RB26DETT (Skyline) and 2JZ-GTE (Supra). Cars from this period became synonymous
            with the rise of tuning culture and motorsports dominance.</p>
    </div>
    <div class="age_description">
        <h1>The Millennium Shift (2000s)</h1>

        <p>JDM cars evolved to meet modern demands, combining raw performance with advanced technologies like
            turbocharging and AWD systems. The global popularity of Japanese cars grew exponentially, fueled by video
            games (Gran Turismo, Need for Speed) and movies (Fast & Furious).</p>
    </div>
    <div class="age_description">
        <h1>Modern Icons (2010s-Present)</h1>

        <p>Today’s JDM vehicles maintain their roots in performance and innovation while incorporating cutting-edge
            technology. Cars like the Nissan GT-R (R35) have redefined supercar performance, while the Toyota GR Supra
            brought a modern twist to a legendary name.</p>
    </div>
</div>